body {
  margin: 0;
  overflow: hidden;
  background: #0d0d0d;
  font-family: Arial, sans-serif;
  color: #fff;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  background: #0d0d0d;
}

input[type=range] {
  width: 100%;
}

#ui {
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
  width: 280px;
  background: rgba(0,0,0,0.7);
  padding: 1rem;
  border-radius: .75rem;
  backdrop-filter: blur(.35rem);
}

.control {
  margin-bottom: 12px;
}

.control.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 48%;
  padding: .365rem;
  border: none;
  border-radius: .365rem;
  background: #222;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: #444;
}

.info {
  margin-top: .75rem;
  font-size: .75rem;
  opacity: .9;
}
